/*Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

/* Flex box */
.flex, .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jstfc_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jstfc_spacebetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jstfc_spacearound {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aligni_center, .head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Blocks */
.w100 {
  width: 100%;
}

.container {
  padding: 100px 1em;
  text-align: center;
  min-height: 100vh;
}

.alert {
  padding: 1em !important;
  margin-top: 1em;
  font-size: 12px !important;
}

.alert.alert-danger {
  background: #ef4848;
}

.alert.alert-success {
  background: #017545;
}

.relative {
  position: relative;
}

.align-left {
  text-align: left;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #FFE4A8;
}

/*Background*/
.bg-grd-main, .section--even {
  background-color: #412554;
  background: linear-gradient(45deg, #1b1023, #412554);
}

.bg-grd-second, #head, .section--even .section__content {
  background-color: #008B52;
  background: linear-gradient(45deg, #025532, #008B52);
}

.bg-grd-main2, .section--odd .section__content, .section--last .section__content {
  background-color: #412554;
  background: linear-gradient(120deg, #1b1023, #412554);
}

.bg-grd-second2, .section--odd {
  background-color: #008B52;
  background: linear-gradient(120deg, #025532, #008B52);
}

/*Rounded block*/
.round-bottom-left, .section--even .section__content {
  border-bottom-left-radius: 150px 150px;
  -webkit-box-shadow: -2px 4px 8px #1b1023;
          box-shadow: -2px 4px 8px #1b1023;
}

.round-bottom-right, .section--odd .section__content, .section--last .section__content {
  border-bottom-right-radius: 150px 150px;
  -webkit-box-shadow: 2px 4px 8px #1b1023;
          box-shadow: 2px 4px 8px #1b1023;
}

/*z-index */
.zIdx10 {
  z-index: 10;
}

.zIdx20 {
  z-index: 20;
}

.zIdx30 {
  z-index: 30;
}

.zIdx40 {
  z-index: 40;
}

.zIdx50 {
  z-index: 50;
}

.zIdx60 {
  z-index: 60;
}

.zIdx70 {
  z-index: 70;
}

.zIdx80 {
  z-index: 80;
}

.zIdx90 {
  z-index: 90;
}

.zIdx100 {
  z-index: 100;
}

/* text */
.uppercase, h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

.fs14 {
  font-size: 14px;
  line-height: 26px;
  word-spacing: 0.1em;
}

.padding0 {
  padding: 0;
}

body {
  font-family: "Libre Baskerville", serif;
}

h1, h2, h3, h4, h5 {
  color: #FFE4A8;
}

/*Heading size*/
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

p {
  color: #f5f5f5;
  padding: 1em 0;
  font-size: 1.25em;
  line-height: 1.34;
}

/* Globals Styles*/
html {
  scroll-behavior: smooth;
}

.head {
  min-height: 98vh;
  background-color: transparent;
  border-bottom-left-radius: 50% 100%;
  -webkit-box-shadow: 0px 2px 4px #1b1023;
          box-shadow: 0px 2px 4px #1b1023;
  width: 100%;
  position: absolute;
}

.bgbehind {
  width: 100%;
  padding-top: 100vh;
  background: #412554;
  background: linear-gradient(45deg, #1b1023, #412554);
  border-top-left-radius: 50% 100%;
  -webkit-box-shadow: -2px -2px 2px #1b1023;
          box-shadow: -2px -2px 2px #1b1023;
}

.intro {
  width: 90%;
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  position: relative;
}

.section .section__content {
  padding-top: 112px;
  padding-bottom: 112px;
}

.section--last {
  background-color: #1b1023;
}

.section__content > * {
  width: 90%;
  max-width: 1000px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

/*
if you want less space between all articles remove  padding-bottom from article.listing and decomment this
.section__content > *:last-child{
    padding-bottom: 112px; 
}
*/
/*Articles */
header a {
  text-decoration: none !important;
}

article.listing {
  padding-top: 112px;
  padding-bottom: 112px;
}

article.listing footer {
  color: #e3e3e3;
}

article.listing a {
  color: #FFE4A8;
  text-decoration: underline;
}

article.listing.listing abbr {
  display: inline-block;
  padding: 8px 0;
}

article.listing.listing address {
  display: inline-block;
  padding: 8px 0 8px 8px;
}

abbr {
  color: #e3e3e3;
  font-size: 0.9375em;
}

/* keepintouch */
.keepintouch h2 {
  text-align: center;
}

.keepintouch .content {
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
}

.keepintouch .content span {
  padding-left: 10px;
}

.keepintouch .content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: #f5f5f5;
  font-size: 0.9375em;
}

.keepintouch form {
  padding-top: 14px;
}

/* Footer */
svg {
  fill: #FFE4A8;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

svg:hover {
  fill: transparent;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  stroke: #FFE4A8;
}

.footer {
  background-color: #1b1023;
}

.footer .me {
  width: 40%;
}

.footer .me img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  float: left;
  -webkit-box-shadow: 0px 0px 4px #FFE4A8;
          box-shadow: 0px 0px 4px #FFE4A8;
}

.footer .me p {
  padding: 40px 10px;
  color: #FFE4A8;
}

.mysocialnetwork {
  padding: 20px;
}

.mysocialnetwork ul li {
  float: left;
}

.mysocialnetwork ul li a {
  padding: 12px;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f5f5f5;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f5f5f5;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f5f5f5;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f5f5f5;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f5f5f5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f5f5f5;
}

label {
  color: #f5f5f5;
  display: inline-block;
  padding: 1em 0;
}

input[type=email], input[type=text], textarea {
  background: #1b1023;
  border-width: 0px;
  /*border-bottom: 2px solid $thirdColor;*/
  color: #FFE4A8;
  padding: 1em 10px;
  outline: 0;
  width: 100%;
}

textarea {
  height: 150px;
}

input[type=submit] {
  padding: 10px;
  background: #FFE4A8;
  outline: 0;
  border: 1px solid #FFE4A8;
  margin-left: -100px;
  width: 100px;
  border-radius: 0 5px 5px 0;
}

button[type=submit] {
  width: 100%;
  padding: 10px;
  margin-top: 2em;
  background: #ffe4a8;
  outline: 0;
  border: 0px solid #ffe4a8;
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */