{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}
{% block description %}{{ SITENAME }} - {{ article.summary|striptags  }}{% endblock %}

{% block meta_extra %}
<meta property="og:url" content="{{SITEURL}}/{{article.url}}">
<link rel="canonical" href="{{SITEURL}}/{{article.url}}">
{% if article.keywords %}
<meta name="keywords" value="{{ article.keywords }}" />
{% elif article.tags  %}
<meta name="keywords" value="{{ article.tags|join(',') }}" />
{% endif %}
{% if article.image %}
<meta property="og:image" content="{{article.image}}">
{% endif %}
{% if article.imagealt %}
<meta name="twitter:image:alt" content="{{article.imagealt}}">
{% endif %}

{% endblock %}
{% block begin_body %} {% include 'facebook.html' %} {% endblock %}

{% block content %}        
{% block content_head %} 
<section id="head" class="relative zIdx100">
    <div class="head">
        <article  id="last_article" class="intro listing">
            <header>
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"><h1>{{ article.title }}</h1></a>
            </header>
            <div class="divider"></div>
            {% import 'article_infos.html' as articleInfos with context %}
            {{ articleInfos.article_infos(article, False) }}
        </article>
    </div>
    <div class="bgbehind">
        
    </div>
</section>
{% endblock %} 
<section class="section section--odd zIdx90">
    <div class="section__content {% if not article.related_posts %} no-round {%endif%}">
        <article class="article">{{ article.content }}</article>
        {% include 'share_buttons.html' %} 
    </div>
</section>
{% if article.related_posts %}       
<section class="section section--even zIdx80">
   <div class="section__content">
       <h2 class="align-center">Related posts</h2>
        <ol class="article_listing">
        {% for related_post  in article.related_posts %} 
        <li>
            <article class="listing">
                <header>
                    <a href="{{ SITEURL }}/{{ related_post.url }}" rel="bookmark" title="Permalink to {{ related_post.title|striptags }}"><h3>{{ related_post.title }}</h3></a>
                </header>
                <div class="divider"></div>
                {% import 'article_infos.html' as articleInfos with context %}
                {{ articleInfos.article_infos(related_post) }}
            </article>
        </li>
        {% endfor %}
        </ol>
        
    </div>
</section>    
{% endif %}

{% endblock content %}
