<div class="share_buttons">
{% if TWITTER_USERNAME %}
<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{TWITTER_USERNAME}}">Tweet</a><script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
{% endif %}
{% if FACEBOOK_APPID %}
<div class="fb-share-button" data-href="{{SITEURL}}/{{article.url}}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{SITEURL}}/{{article.url}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
{% endif %}
{% if LINKDIN_USERNAME %}
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="IN/Share" data-url="{{SITEURL}}{{article.url}}"></script>
{% endif %}
</div>