/* Globals Styles*/
html{
    scroll-behavior: smooth;
}
#head{
    @extend .bg-grd-second;
}

.head{
    @extend .flex;
    //@extend .jstfc_center;
    @extend .aligni_center;
    min-height: 98vh;
    background-color: transparent;
    border-bottom-left-radius: 50% 100%;
    box-shadow: 0px 2px 4px $dark_mainColor;
    width: 100%;
    position: absolute;
}

.bgbehind{
    width: 100%;
    padding-top: 100vh;
    background: $mainColor;
    background: $gradient_main;
    border-top-left-radius: 50% 100%;
    box-shadow: -2px -2px 2px $dark_mainColor;
}
.intro {
    //margin-top: #{$space_2xxl}; // I added aligni_center in the parent instead
    width: 90%;
    max-width: 1000px;
    padding: 0 #{$space_s};
    margin: 0 auto;
}
.section{
    position: relative;

    .section__content{
        padding-top: #{$space_2xxl};
        padding-bottom: #{$space_2xxl};
    }
    
    &--odd{
        @extend .bg-grd-second2;
    }
    &--odd .section__content{
        @extend .bg-grd-main2;
        @extend .round-bottom-right;
    }
    &--even{
        @extend .bg-grd-main;
    }
    &--even .section__content{
        @extend .bg-grd-second;
    }
}



.section__content > * {
    width: 90%;
    max-width: 1000px;
    padding-right: #{$space_s};
    padding-left: #{$space_s};
    margin: 0 auto;
    
}
/*
if you want less space between all articles remove  padding-bottom from article.listing and decomment this
.section__content > *:last-child{
    padding-bottom: #{$space_2xxl}; 
}
*/
/*Articles */
header a{
    text-decoration: none !important;
}
article.listing {
    padding-top: #{$space_2xxl};
    padding-bottom: #{$space_2xxl}; 
    footer {
        color: $grayscale300;
    }
    a{
        color: $thirdColor;
        text-decoration: underline;
    }
    &.listing {

        abbr {
            display: inline-block;
            padding: $space_xs 0 ;
        }
        address {
            display: inline-block; 
            padding: $space_xs 0 $space_xs $space_xs ;
        }
    }

    
}
abbr{
    color: $grayscale300;
    font-size: $fontSize_xs;
}


  /* Footer */
  svg{
    fill: $thirdColor;
    transition: all .4s ease-out;
    
    &:hover{
        fill: transparent;
        transform: scale(1.5);
        stroke: $thirdColor;
    }
}

.footer{
    background-color: $dark_mainColor;
      .me{
          width: 40%;
      }
      .me img{
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 10px;
          float: left;
          box-shadow: 0px 0px 4px $thirdColor;
      }
      .me p {
        padding: 40px 10px;
        color: $thirdColor;
      }
      
  }

.mysocialnetwork{
    padding: 20px;

    ul li{
        float: left;

        a {
            padding: 12px;
        }
    }
}