// Colors
$mainColor:  #412554;
$secondColor: #008B52;
$thirdColor: #FFE4A8;

$dark_mainColor: #1b1023;
$dark_seconColor : rgb(2, 85, 50);
$textlightColor: #f5f5f5;

$gradient_main: linear-gradient(45deg, $dark_mainColor, $mainColor);
$gradient_main2: linear-gradient(120deg, $dark_mainColor, $mainColor);
$gradient_second: linear-gradient(45deg, $dark_seconColor, $secondColor);
$gradient_second2: linear-gradient(120deg, $dark_seconColor, $secondColor);
// Font


