/* MENU */
/* Menu icon*/
/* menu-icon */
.menu-icon{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    display: inline-block;
    position: fixed;
    right: 0;
    z-index: 1000;
    cursor: pointer;
  }
.menu-icon:before {
    right: 50px;
    position: absolute;
    color: white;
    top: 6px;
}
.menu-icon.open:before {
  content: "CLOSE";
}
.menu-icon.close:before {
  content: "MENU";
}
  .menu-icon.open{
    position: fixed;
  }
  .menu-icon span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .menu-icon span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .menu-icon span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  .menu-icon span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .menu-icon:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .menu-icon:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .menu-icon:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .menu-icon.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .menu-icon.open span:nth-child(2){
    opacity:0;
  }
  .menu-icon.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }

/*  
.menu-icon{
    display: block;
    position: absolute;
    right: 0;
    margin: 0.5em;
    z-index: 100;
    width: 40px;
    height: 2px;
    background-color: white;
    cursor: pointer;
}
.menu-icon::after, .menu-icon::before{
    content: "";
    display: block;
    position: relative;
    top: 10px;
    width: 40px;
    height: 2px;
    background-color: white;
    
}
.menu-icon::after{
    top: 20px;
}*/

/*Overlay menu*/

.overlay-menu{
    position: fixed;
    background:  rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: hidden;
    right: 0;
    transition: 0.5s all ease-in-out;
    /* opacity: 0.9; */
    width: 100%;
    height: 100%;

    transform: translateX(120vw);
    
    &.show{
        transform: translateX(0);

    }

    .site_name{
        font-size: 2em;
        font-weight: bold;
        border-bottom: 1px solid $dark_mainColor;
        height: 30%;
        box-sizing: border-box !important;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          color: $thirdColor;
        }
    }
}
nav.sidemenu{
    width: 250px;
    height: 100%;
    /*text-align: center;*/
    float: right;
    border-left: 2px solid $dark_mainColor;
    background-color: $mainColor;
    /*padding-bottom: 36px;*/
}
nav.sidemenu ul{
   /*margin-top: 10%;*/
   overflow: auto;
   height: 70%;
   
}
nav.sidemenu ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    text-transform: uppercase;
    color: $textlightColor;
    transition: all 0.4s;
    opacity: 1;
    
    &:hover{
        color: $thirdColor;
        background: $dark_mainColor;
    }
    
}
/* languages menu*/
ul.languages {
  position: absolute;
  z-index: 999;
  right: 130px;
  top: 1em;

  &:hover{
    & li:not(.active) a{
      opacity: 1;
    }
  }
  li a {
      color: $grayscale400;
      text-transform: uppercase;
      transition: all 0.5s ease-in-out;
      padding-bottom: 10px;
      display: block;
  }
  li.active a {
      color: $textlightColor ;
  }
  li:not(.active) a{
    opacity: 0;
  }
}

nav ul ul {
    margin-left: 16px;
    
}
nav.sidemenu ul li.has_menu {
    background: rgba(0, 0, 0, 0.1);
}
nav.sidemenu ul .separator{
    color: $grayscale400;
    text-transform: uppercase;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: $mainColor;
  background: $gradient_main;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s linear;
}